.box{
    color: rgb(30, 33, 33);
    border:2px dashed yellowgreen ;
    width: 150px;
    height: 80px;
    justify-content: center;
    align-items: center;
    /* display: flex; */
}
   
.container{
    border: 2px solid brown;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
   
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid red;
   
}
.login-form input{
    margin-top: 20px;
}
.login-form-container{
    display: flex;
   justify-content: center;
   height: 50vh;
   border: 1px solid violet;
   align-items: center;
  
   

}